@using EventsZilla.Models
@model Event

@{
	ViewBag.Title = Model.Title;
	Layout = "_Layout";
}

<p>@ViewBag.Message</p>

@{ Html.RenderPartial("EventDisplayPartial", Model); }

@{ Html.RenderPartial("RegistrationFormPartial", new EventRegistration()); }