@using EventsZilla.Models
@model Event

@{
	ViewBag.Title = Model.Title;
}

<p>@ViewBag.Message</p>

<p><a href="#register">Register to this event...</a></p>

@{ Html.RenderPartial("EventDisplayPartial", Model); }

<a name="register></a>
@{ Html.RenderPartial("RegistrationFormPartial", new EventRegistration {EventId = Model.FullEventId() }); }