@using EventsZilla.Models
@model Event
@{
    ViewBag.Title = Model.Title;
    var siteConfig = ViewBag.SiteConfig as SiteConfig ?? new SiteConfig();
}
<p>@ViewBag.Message</p>
<div class="holder_content1">
    <section class="group4">
    @{ Html.RenderPartial("EventDisplayPartial", Model); }
	</section>
    <section class="group5">

@if (Model.StartsAt > DateTimeOffset.Now)
{
	if (siteConfig.RequireRegistration)
	 {
	 	<a name="register"></a>
	 	Html.RenderPartial("RegistrationFormPartial", new EventRegistration {EventId = Model.FullEventId()});
	 }
} else
{
    Html.RenderPartial("FeedbackFormPartial", new Feedback { EventId = Model.FullEventId() });
}
	</section>
</div>

@{ Html.RenderPartial("ArtifactsDisplayPartial", Model); }
